.picture {
    width: 35%;
    height: fit-content;
    margin-right: 5%;
    border-radius: 10px;

    img {
        width: inherit;
    }
}

.locationPane {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: fit-content;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid rgb(229, 231, 235);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.info {
    width: 60%;
}

.address {
    font-size: 20px;
    color: rgb(145, 118, 90) !important;
    font-weight: 600;
    padding: 0 !important;
    background-color: transparent !important;
    text-transform: uppercase;
}

.note {
    padding: 0 !important;
    font-size: 12px;
    line-height: 16px;
    background-color: transparent !important;
}

.hidden {
    display: none;
}

@media (max-width: 991.98px) {
    .locationPane {
        width: 100%;
    }
}