/* Nav menu */
li {
    padding: 0 !important;
}


.logo {
    width: 200px;
    position: absolute;
    left: 5%;
    top: 25%;
    cursor: pointer;
}

.buttonOpen {
    display: none;
    width: 30px;
    height: 30px;
    background-color: #C7B39A;
    border: #DDD1C2 solid 1px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;

}

.mainMenu>li>a {
    color: #696969;
    display: block;
    font-size: 14px !important;
    font-weight: 300;
    padding: 20px 10px;
}

.invisibleBackground .mainMenu>li>a {
    color: #fff !important;
}

.mainMenu>li>a:hover {
    color: #d69c4a !important;
}

.mainMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 13px;
}

.mainMenu>li>a {
    font-size: 18px !important;
    text-transform: uppercase;
}

nav {
    background-color: rgba(255, 255, 255);
    width: 100%;
    position: relative;
    z-index: 99;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
}

.posFixed {
    position: fixed;
}

.invisibleBackground {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
}


.mainMenu>li {
    position: relative;
    margin: 0 7px;
    padding: 20px 9px;
}

.subMenu a {
    color: black;
    display: block;
    padding: 9px 20px;
    width: 100%;
}

.mainMenu li:has(.megaSubMenu) {
    position: static;
}

@keyframes slideDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.subMenu {
    box-shadow: 0 1px 4px 0 rgba(225, 225, 225, 0.6);
    position: absolute;
    left: 0;
    width: 200px;
    display: none;
    top: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    animation: slideDown 0.3s;
    font-size: 16px;
}

.megaSubMenu {
    background-color: white;
    position: absolute;
    top: 100%;
    width: 75%;
    left: 15%;
    display: none;
    background-repeat: no-repeat;
    box-shadow: 0 1px 4px 0 rgba(225, 225, 225, 0.6);
    background-position: right;
    background-position-y: bottom;
    animation: slideDown 0.3s;
}

.megaSubMenu .subMenu {
    position: relative;
    width: 100%;
    box-shadow: none;
    top: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0);
}



@media (min-width: 992px) {

    .subMenu {
        opacity: 0;
    }

    .megaSubMenu {
        opacity: 0;
    }

    .mainMenu>li:hover .megaSubMenu {
        display: block;
        opacity: 1;
    }

    .mainMenu>li:hover .subMenu {
        display: block;
        opacity: 1;
    }

    .subMenu li:hover a {
        color: #d69c4a;
    }
}

.subMenuMega {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.subMenuMega .preSubAfterMega {
    width: 33%;
}

.preSubAfterMega .headRowMega {
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
}

.preSubAfterMega {
    padding-top: 20px;
    padding-bottom: 20px;
}

.preSubAfterMega:not(:last-child) {
    border-right: #EAEAEA solid 2px;
}

.hasTwoUl .preSubAfterMega {
    width: 50%;
}

.buttonDown {
    display: none;
}

.loginAndRe {
    a {
        cursor: pointer;
        text-decoration: underline !important;
    }

    &:hover .userTab {
        display: block;
    }
}


// UserTab

.userTab {
    position: absolute;
    background-color: #fff;
    display: none;
    text-align: center;
    width: fit-content;

    li {
        cursor: pointer;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none !important;
    }
}


@media (max-width: 991.98px) {


    .mainMenu li:has(.megaSubMenu) {
        position: relative;
    }

    .mainMenu {
        display: none;
        position: absolute;
        top: 100%;
        background-color: white;
        z-index: 99;
        height: fit-content;
        border: none;
    }


    .buttonOpen {
        display: block;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .buttonDown {
        display: block;
        transition: transform .4s;
    }

    .mainMenu li a {
        text-align: center;
        padding: 10px 20px;
    }

    .mainMenu>li {
        padding: 0 0;
        margin: 0 0;
        border-bottom: #eaeaea solid 1px;
    }

    .mainMenu .subMenu {
        display: none;
        position: relative;
        top: 0;
        width: 100%;
        font-size: 13px;
        background-color: white;

    }

    .megaSubMenu .subMenu a {
        text-align: left;
    }

    nav {
        border-bottom: black solid 1.5px;
    }

    .buttonDown {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .megaSubMenu {
        position: relative;
        background: none;
        width: 100%;
        left: 0;
    }

    .subMenu li {
        text-align: left;
    }

    .subMenuMega .preSubAfterMega {
        width: 50%;
    }

    .subMenu li:hover a {
        background-color: white;
        color: black;
    }
}

.loginAndRe a {
    display: inline-block !important;
    font-size: 18px !important;
    color: #696969 !important;
}